<html>
<head>
<style>
  body{
  text-align:center;
  }
</style>
</head>

<body>
  <h1>Homepage</h1>

  <h2>Inventory</h2>
    <a href="/inventory/">Inventory Page</a>
  <br>
  <br>
    <a href="/additem/">Add Item Page</a>
  <br>
  <br>
   <a href="/sales/">Sales Page</a>
  <br>
  <br>
  <h2>Account</h2>
   <a href="/settings/">Settings Page</a>
  <br>
  <br>
    <a href="/signup/">Signup Page</a>
  <br>
  <br>
    <a href="/login/">Login Page</a>
  <br>
  <br>
    <a href="/logout/">Logout</a>
</body>
</html>